h1, h2 {
  color: #fff;
}






body {
  padding-top: 50px;
  background-color: white;
}


.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  
}

h1, h2 {
  color: #333;
}

#book-list {
  margin-bottom: 20px;
}

.book {
  background-color: #9e8b8b;
  padding: 10px;
  margin-bottom: 10px;
}

#book-form > input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

#book-form > input[type="submit"] {
  padding: 10px;
  cursor: pointer;
}
